<header>
  <nav class="p-4 d-flex">
    <a href="/" class="nav-link">Home</a>
    <a href="/posts" class="nav-link mx-2">My Posts</a>
    <% if (userId) { %>
    <a href="/auth/logout" class="nav-link">Logout</a>
    <% } else { %>
    <a href="/auth/login" class="nav-link mx-2">Login</a>
    <!-- <a href="/auth/register" class="nav-link">Register</a> -->
    <% } %>
  </nav>
</header>